
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1440, maximum-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/StyleAlumniEducation.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="~/css/globals.css" />
</head>

<body>
    <div style="margin: 0; background: #ffffff border-box:none" >
        <input type="hidden" id="anPageName" name="page" value="u1575u1590u1575u1601u1577-u1575u1604u1578u1593u1604u1610u1605" />
        <div class="container-center-horizontal">
            <div class="u1575u1590u1575u1601u1577-u1575u1604u1578u1593u1604u1610u1605 screen">
                <div class="overlap-group2">
                    <div class="frame-1190-1 frame-1190-3">
                        <div class="frame-1190-2 frame-1190-3">
                            <div class="text-36">قائـــمة الخدمات</div>
                        </div>
                        <div class="frame-1195" >
                            <div class="frame-119">
                                <div class="text-5 cairo-bold-smalt-blue-14px">
                                    <input class="cairo-bold-smalt-blue-14px" type="button" value="إضافة الأخبار"
                                        onclick="window.location='@Url.Action("UpsertNews", "Admin")'" />
                                </div>
                            </div>
                            <div class="frame-119">
                                <p class="text-6 cairo-normal-star-dust-13px">
                                    عند إضافتك للأخبار سيمكن مستخدوا المنصة من معرفة كل ما هو جديد
                                </p>
                            </div>
                        </div>
                        <div class="frame-1195">
                            <div class="frame-119">
                                <div class="text-5 cairo-bold-smalt-blue-14px">
                                    <input class="cairo-bold-smalt-blue-14px" type="button" value="عرض طلبات الانضمام للمنصة"
                                        onclick="window.location='@Url.Action("PendingRegistrations", "Admin")'" />
                                </div>
                            </div>
                            <div class="frame-119">
                                <p class="text-6 cairo-normal-star-dust-13px">
                                   لن يتمكن صاحب العمل من الانضمام إلا بعد موافقتك! انظر إلى الطلبات الجديدة
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>